@font-face {
    font-family: 'basskiaregular';
    src: url('fonts/basskia/basskia-webfont.woff2') format('woff2'),
         url('fonts/basskia/basskia-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body{
    background-image: url("backdrop.jpg");
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;
    font-family: 'Montserrat';
    font-size: 1.2rem;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    text-align: center;
    font-family: 'basskiaregular','san-serif';
    font-size: 2rem;
    font-weight: 100;
    line-height: 0;
}

.cutout{
    box-shadow: 5px 5px 5px 5px rgba(243, 157, 131,0.5),0px 5px 5px 5px rgba(243, 157, 131,0.5);
}

.login-info{
    width:100%;
    grid-column-start: 1 ;
    background-image: url("backdrop2.jpeg");
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;
}
.login-info > p{
    text-align: center;
    padding: 35%  25% 0%;
}

#Password-form{
    display: flex;
    flex-direction: column ;
    align-items: center;
    row-gap: 10px;
    text-align: center;
    padding: 0% 25% 40%; 
}

input[type=password]{

    width: 10rem;
    height: 2.5rem;
    background-color: rgba(243, 134, 101, 0.25);
    text-align: center;
    border: 1px solid   rgba(243, 134, 101, 0);;
    border-radius: 0.5rem;
}
input[type=password]::placeholder{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.1em;
}

input[type=password]:focus{
    border: 1px solid   rgba(243, 134, 101, 0.5);
    outline: none;
}

input[type=submit]{
    width: 7rem;
    height: 2.5rem;
    background-color: rgba(243, 134, 101, 0.25);
    text-align: center;
    border: 0.2rem solid   rgba(273, 134, 101, 0.3);
    border-radius: 0.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1rem;
}

input[type=submit]:hover{
    background-color: rgba(243, 134, 101, 0.5);
}

